* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto Mono", monospace;
  line-height: 1;
  color: #343a40;
}

/* section {
  width: 80%;
} */

/* Hero Section */

header {
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/hero-dev-compressed.jpg);
  position: relative;
}

.hero-section {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
}

.hero-heading {
  color: #eee;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-text {
  font-size: 1.6rem;
  color: #f1f3f5;
  margin-bottom: 2.4rem;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  transition: all 300ms;
}

.hero-btn {
  background-color: #22b8cf;
  color: #fff;
}

.hero-btn:hover,
.hero-btn:active {
  background-color: #0b7285;
  transform: scale(1.1);
}

/* About Section */

.about-section {
  display: flex;
}

.about-img img {
  width: 600px;
}

.about-content {
  padding: 3.6rem;
}

.about-heading {
  font-size: 4.2rem;
  color: #444;
}

.about-text {
  font-size: 2.4rem;
  color: #555;
  padding-top: 2.4rem;
  line-height: 1.4;
}

/* Project Section */

.projects-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8.4rem;
  padding: 9.6rem;
  align-items: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #ddd;
  border-radius: 11px;
  padding: 2.4rem;
  gap: 2.4rem;
  align-items: center;
}

.project-icon {
  height: 4.8rem;
  width: 4.8rem;
}

.project-heading {
  color: #444;
  font-size: 2.4rem;
}

.project-text {
  font-size: 1.6rem;
  color: #555;
}

.project-btn,
.project-btn:link,
.project-btn:visited {
  background-color: #868e96;
  color: #fff;
}

.project-btn:hover,
.project-btn:active {
  background-color: #343a40;
}
