* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  line-height: 1;
  color: #343a40;
}

header {
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./img/hero-dev-compressed.jpg);
  position: relative;
}

.hero-section {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
}

.hero-heading {
  color: #eee;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-text {
  color: #f1f3f5;
  margin-bottom: 1rem;
}

.btn {
  border: none;
  background-color: #064663;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.about-section {
  display: flex;
  gap: 2.4rem;
}

.about-img img {
  width: 600px;
}

.about-text {
  padding: 2.4rem;
}
